<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="1867LennardSprong.PortablePuzzleCollection" Publisher="CN=C7A19714-C98A-463A-9F54-22A0392BAFF5" Version="2018.1001.2020.0" />
  <mp:PhoneIdentity PhoneProductId="990a30b4-8137-4a31-baa8-1f9502790cc6" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Portable Puzzle Collection</DisplayName>
    <PublisherDisplayName>Lennard Sprong</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PuzzleModern.Phone.App">
      <m3:VisualElements DisplayName="Portable Puzzles" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="A collection of 39 puzzle games." ForegroundText="light" BackgroundColor="transparent" ToastCapable="false">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#333333" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name=".puzzle">
            <DisplayName>Saved puzzle game</DisplayName>
            <InfoTip>Saved game for the Portable Puzzle Collection</InfoTip>
            <SupportedFileTypes>
              <FileType ContentType="text/prs.sgtatham.puzzles">.puzzle</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>