body { 
    font-size: 100%; 
    font-family: 'Segoe UI'; 
    background-color: #eee;
    padding: 30px;
}

h1 {
    font-weight: bold;
    font-size: 150%;
}
h2 {
    font-weight: bold;
    font-size: 130%;
}
h3 {
    font-weight: bold;
    font-size: 120%;
}

address {
    display: none;
}